nav, nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: white;
}

table a{
    font-size: 20px;
    color: blue;
}
.delete{
    color: red;
    font-size: 18px;
    text-decoration: none;
}

.delete:hover{
    color: red;
}

#message{
    text-align: center;
    color: white;
}

.button{
    color: #fff;
}